<div class="h-screen w-screen max-h-screen 2xl:bg-gray-800 dark:bg-gray-800">
  <div class="2xl:container 2xl:mx-auto">
    <div class="ui two columns grid stackable centered h-screen max-h-screen en-no-spaces">
      <div class="column bg-gray-100 en-no-spaces !hidden sm:!hidden md:!hidden lg:!inline-block">
        <img src="https://source.unsplash.com/random" alt="" class="w-full max-h-screen h-full object-cover">
      </div>

      <div class="column bg-white dark:bg-gray-800">
        <div class="CenterBlockAbsolute w-full px-7 sm:px-14 md:px-0 lg:px-20">

          <%# <img src="https://source.unsplash.com/random"
              class="border-2 border-gray-300 en-no-spaces h-32 w-32 rounded-full !table !mx-auto drop-shadow-xl"> %>

          <%# <div class="fas fa-sign-in-alt text-4xl text-center"> %>
          <div class="fas fa-user-plus text-7xl mx-auto table _text-indigo-600 text-gray-700"></div>
          
          <br />

          <h1 class="
            dark:text-gray-300 text-tighter font-bold md:text-lg
            mt-12 text-center en-no-spaces
          ">
            Preencha os dados para criar sua conta.
          </h1>

          <div class="en-divider-h my-5"></div>

          <form action="#" method="POST">

            <%= render partial: '/layouts/components/input_icon', locals: {
              placeholder: 'Nome completo:',
              icon: 'user',
              focus: true
            } %>
            
            <br/>

            <%= render partial: '/layouts/components/input_icon', locals: {
              placeholder: 'E-mail:',
              icon: 'envelope',
              type: 'email',
            } %>

            <br/>

            <%= render partial: '/layouts/components/input_icon', locals: {
              placeholder: 'Senha:',
              icon: 'key',
              type: 'password',
            } %>

            <br/>

            <%= render partial: '/layouts/components/input_icon', locals: {
              placeholder: 'Confirme sua senha:',
              icon: 'key',
              type: 'password',
            } %>

            <br/>

            <button
                type="submit"
                class="
                mx-auto block bg-blue-500 text-white
                rounded-lg px-6 py-3 mt-6
                font-semibold md:font-normal
                hover:bg-blue-700
                focus:bg-blue-600 
                
                transition-all hover:scale-105
                ">
              Criar Conta
            </button>

          </form>

          <br/>
          <div class="en-divider-h"></div>

          <p class="
            dark:text-gray-300
            mt-8 font-semibold text-gray-800
          ">
            Já possui uma conta?
            <a href="/users/sign_in" class="text-blue-500 hover:text-blue-600">
              Faça login.
            </a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
