<div class="h-screen w-screen max-h-screen 2xl:bg-gray-800 dark:bg-gray-800">
  <div class="2xl:container 2xl:mx-auto">
    <div class="ui two columns grid stackable centered h-screen max-h-screen en-no-spaces">
      <div class="column bg-gray-100 en-no-spaces !hidden sm:!hidden md:!hidden lg:!inline-block">
        <img src="https://source.unsplash.com/random" alt="" class="w-full max-h-screen h-full object-cover">
      </div>

      <div class="column bg-white dark:bg-gray-800">
        <div class="CenterBlockAbsolute w-full px-7 sm:px-14 md:px-0 lg:px-20">

          <div class="fas fa-sign-in-alt text-7xl mx-auto table _text-indigo-600 text-gray-700"></div>

          <br />

          <h1 class="
            dark:text-gray-300 text-tighter font-bold md:text-lg
            mt-12 text-center en-no-spaces
          ">
            Informe suas credenciais para acessar.
          </h1>

          <div class="en-divider-h my-5"></div>

          <form action="#" method="POST">
            <%= render partial: '/layouts/components/input_icon', locals: {
              label: 'E-mail:',
              icon: 'envelope',
              focus: true,
              type: 'email',
            } %>

            <br/>

            <%= render partial: '/layouts/components/input_icon', locals: {
              label: 'Senha:',
              icon: 'key',
              type: 'password',
              placeholder: '***'
            } %>

            <div class="text-right mt-2">
              <a href="#"
                  class="
                  text-sm font-semibold text-blue-500
                  hover:text-blue-600 focus:text-blue-700">
                Esqueceu sua senha?
              </a>
            </div>

            <button
                type="submit"
                class="
                _ease-in _duration-300
                _border-b-4 _border-indigo-600
                w-full block bg-indigo-500 text-white
                rounded-lg px-4 py-3 mt-6
                font-semibold md:font-normal
                hover:bg-indigo-700
                focus:bg-indigo-600 
                
                transition-all
                _translate-x-4 _skew-y-3
                hover:scale-105
                ">
              Acessar
            </button>
          </form>

          <br/>
          <div class="en-divider-h"></div>

          <p class="
            dark:text-gray-300
            mt-8 font-semibold text-gray-800
          ">
            Não possui acesso?
            <a href="/users/sign_up" class="text-blue-500 hover:text-blue-600">
              Crie uma conta.
            </a>
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
