<div class="h-screen w-screen max-h-screen 2xl:bg-gray-900">
  <div class="2xl:container 2xl:mx-auto">
    <div class="ui two columns grid stackable centered h-screen max-h-screen en-no-spaces">
      <div class="column bg-gray-100 en-no-spaces !hidden sm:!hidden md:!hidden lg:!inline-block">
        <img src="https://source.unsplash.com/random" alt="" class="w-full max-h-screen h-full object-cover">
      </div>

      <div class="column bg-white dark:bg-gray-800">
        <div class="CenterBlockAbsolute w-full px-7 sm:px-14 md:px-0 lg:px-20">

          

            

        </div>
      </div>
    </div>
  </div>
</div>
