<style>
    .html,
    body {
        background: #f0f0f0;
    }
</style>

oi

<!-- <div class="CenterBlockAbsolute w-screen">
<div class="ui three columns grid stackable centered">
<div class="column bg-white">

<label class="mdc-text-field mdc-text-field--filled w-full">
    <span class="mdc-text-field__ripple"></span>
    <span class="mdc-floating-label" id="my-label-id">Hint text</span>
    <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
    <span class="mdc-line-ripple"></span>
</label>

<br />
<br />

<label class="mdc-text-field mdc-text-field--outlined w-full">
    <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="my-label-id">Your Name</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
    </span>
    <input autofocus type="text" class="mdc-text-field__input" aria-labelledby="my-label-id">
</label>

<br />
<br />

<label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
    <span class="mdc-text-field__ripple"></span>
    <input class="mdc-text-field__input" type="text" placeholder="Placeholder text" aria-label="Label">
    <span class="mdc-line-ripple"></span>
</label>

<br />
<br />

<label class="mdc-text-field mdc-text-field--outlined mdc-text-field--no-label">
    <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__trailing"></span>
    </span>
    <input class="mdc-text-field__input" type="text" aria-label="Label">
</label>

<br />
<br />


<label class="mdc-text-field mdc-text-field--filled">
    <span class="mdc-text-field__ripple"></span>
    <span class="mdc-floating-label" id="my-label-id">My Label</span>
    <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id"
        aria-controls="my-helper-id" aria-describedby="my-helper-id">
    <span class="mdc-line-ripple"></span>
</label>
<div class="mdc-text-field-helper-line">
    <div class="mdc-text-field-helper-text" id="my-helper-id" aria-hidden="true">helper text</div>
</div>

<br />

<label class="mdc-text-field mdc-text-field--filled mdc-text-field--label-floating">
    <span class="mdc-text-field__ripple"></span>
    <span class="mdc-floating-label mdc-floating-label--float-above" id="my-label-id">
        Label in correct place
    </span>
    <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id" value="Pre-filled value">
    <span class="mdc-line-ripple"></span>
</label>

<br />
<br />

<div>
    <label class="mdc-text-field mdc-text-field--outlined">
        <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__trailing"></span>
        </span>
        <input type="text" class="mdc-text-field__input" value="Baseline">
    </label>
    <span>Text that is aligned with</span>
</div>

<div style="display: flex; flex-direction: row; align-items: flex-end;">
    <label class="mdc-text-field mdc-text-field--outlined">
        <span class="mdc-notched-outline">
            <span class="mdc-notched-outline__leading"></span>
            <span class="mdc-notched-outline__trailing"></span>
        </span>
        <input type="text" class="mdc-text-field__input" value="Baseline">
    </label>
    <span>Text that is aligned to the</span>
</div>

<br />
<br />

<label class="mdc-text-field mdc-text-field--filled mdc-text-field--with-leading-icon">
    <span class="mdc-text-field__ripple"></span>
    <span class="mdc-floating-label" id="my-label-id">Your Name</span>
    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0"
        role="button">event</i>
    <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
    <span class="mdc-line-ripple"></span>
</label>

<br />
<br />

<label class="mdc-text-field mdc-text-field--outlined mdc-text-field--with-leading-icon w-full">
    <span class="mdc-notched-outline">
        <span class="mdc-notched-outline__leading"></span>
        <span class="mdc-notched-outline__notch">
            <span class="mdc-floating-label" id="my-label-id">Your Name</span>
        </span>
        <span class="mdc-notched-outline__trailing"></span>
    </span>
    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--leading" tabindex="0"
        role="button">event</i>
    <input class="mdc-text-field__input" type="text" aria-labelledby="my-label-id">
</label>
</div>
</div>
</div> -->