<div class="Notify text-center absolute w-full z-10 bg-none">
    <div class="
        relative top-2 table mx-auto p-3 rounded-md
        bg-green-200 text-green-600 z-30 text-sm font-semibold
        _drop-shadow-xl mt-10 
        animate__animated animate__fadeIn animate__fast
        pr-7
    ">
        <div class="fas fa-check mr-2 opacity-60"></div>
        Seu usuário foi criado, você já pode acessar sua conta!

        <div class="NotifyClose fas fa-times absolute top-1 right-2 text-xs opacity-60 cursor-pointer"></div>
    </div>
</div>