
<%# <div class="dark:text-gray-400 text-xs text-gray-400 font-medium tracking-tight">
    © Encoded with
    <span class="dark:text-gray-300 text-gray-700 font-semibold">
        Encoder
    </span>
    by
    <a href="https://www.linkedin.com/in/lucianrr/" target="_blank" class="text-blue-400">
        Lucian Rossoni Ribas
    </a>
</div> %>
