<div class="Loader ui active dimmer animate__animated animate__fadeIn animate__fast !z-30">
    <div class="h-screen w-screen opacity-50 bg-black inset-0 fixed"></div>

    <!-- <div class="ui loader"></div> -->
    <div class="ui indeterminate text inverted loader">
        Aguarde um pouquinho...
    </div>
</div>
