<div class="Notify absolute w-full z-10 bg-none p-5">
    <div class="
        relative top-2 table mx-auto p-3 rounded-md
        bg-green-200 text-green-600 z-30 text-sm font-semibold
        _drop-shadow-xl mt-10 
        animate__animated animate__fadeIn animate__fast
        pl-9 pr-6
    ">
        <div class="fas fa-check en-center-y left-3"></div>
        <%= text.html_safe %>

        <div class="NotifyClose fas fa-times absolute top-1 right-2 text-xs opacity-60 cursor-pointer"></div>
    </div>
</div>